.vscode/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/

.DS_Store
Thumbs.db

.cache/
dist/
build/

*.tmp
*.bak
*.swp

ehthumbs.db
Icon?
Desktop.ini

*.zip
*.tar.gz
*.rar

.env
.env.local
.env.*

.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace